<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Favorite restaurant listing app" />
    <link rel="shortcut icon" href="../public/logo.svg" type="image/x-icon" />
    <title>Infoodity — Your favorite restaurant list</title>
  </head>
  <body>
    <a href="#main" tabindex="0" class="skip__link">Skip To Content</a>

    <header class="container">
      <a href="index.html" class="header__logo">
        <img src="../public/logo.svg" alt="Infoodity logo" />
      </a>

      <nav>
        <a class="hamburger" href="#" aria-label="Show menu">☰</a>

        <section class="drawer">
          <a href="index.html">Home</a>
          <a href="#">Favorite</a>
          <a
            href="https://github.com/arialghifari"
            target="_blank"
            rel="noopener noreferrer"
            >About Us</a
          >
        </section>
      </nav>
    </header>

    <section class="hero">
      <section class="hero__wrapper container">
        <h1 class="hero__logo">INFOODITY</h1>
        <p class="hero__title">
          Favorite restaurant <br />
          list for you
        </p>
        <p class="hero__subtitle">
          Start experiencing something that you <br />
          have never experienced before
        </p>
        <button class="hero__button">Start Explore</button>
      </section>
    </section>

    <main id="main" class="container">
      <section class="restaurant">
        <h2 class="restaurant__title">Explore Restaurant</h2>
        <p class="restaurant__subtitle">Sometimes first sight is promising</p>

        <restaurant-list></restaurant-list>
      </section>

      <section class="testimonials">
        <h2 class="testimonials__title">Testimonials</h2>
        <p class="testimonials__subtitle">What they say about this platform</p>

        <testimonial-list></testimonial-list>
      </section>
    </main>

    <footer>
      © 2022 Infoodity. Made with ❤ by Ari Alghifari. All rights reserved.
    </footer>
  </body>
</html>
