<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../public/logo.svg"
      type="image/x-icon"
    />
    <title>Infoodity</title>
  </head>
  <body>
    <header class="container">
      <div class="logo">
        <img src="../public/logo.svg" alt="Infoodity logo" />
      </div>
      <nav>
        <a href="index.html">Home</a>
        <a href="#">Favorite</a>
        <a href="https://github.com/arialghifari" target="_blank">About Us</a>
      </nav>
    </header>

    <div class="hero">
      <div class="container">
        <p class="hero__logo">INFOONITY</p>
        <h2 class="hero__title">
          Favorite restaurant <br />
          list for you
        </h2>
        <p class="hero__subtitle">
          Start experiencing something that you have never <br />
          experienced before
        </p>
        <button class="hero__button">Start Explore</button>
      </div>
    </div>
  </body>
</html>
